{% extends 'base.html.twig' %}

{% block title %}Applications de recettes - Accueil
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Titre h1</h1>
			<p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis porro fuga consectetur illum excepturi adipisci repellendus animi atque, quae, exercitationem nobis veniam illo quos molestias cumque non delectus nostrum sed!</p>
			<p>Pour commencer rendez-vous sur la page d'inscription</p>
			{% if not app.user %}
				<p class="lead">
					<a class="btn btn-primary btn-lg" href="{{path('app_registration')}}" role="button">S'inscrire ici</a>
				</p>
			{% endif %}
		</div>

		<div class="recipes mt-4">
			<h2>Dernières recettes ajoutées</h2>
			<div class="d-flex justify-content-center flex-wrap">
				{% for recipe in recipes %}
					<a href="{{path('app_recipe_show', {id: recipe.id})}}">
						<div class="card text-white bg-primary m-3" style="max-width: 20rem;">
							<div class="card-header">Recette n°{{recipe.id}}</div>
							<div class="card-body">
								<h4 class="card-title">{{recipe.name}}</h4>
								<p class="card-text">{{recipe.description|slice(0, 100) ~ '...'}}</p>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
